/* style.css */
body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h3, h2 {
    font-weight: 600;
    color: #343a40;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.navbar {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
